{% extends 'base.html' %}


{% block title %}Deas{% endblock %}

{% block header %}Deas{% endblock %}

{% block content %}
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Distance</th>
    </tr>
  </thead>
  <tbody id="deas">
  </tbody>
</table>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='deas.js') }}"></script>
{% endblock %}